<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 col-sm-9 area">
            <div class="jumbotron">
                <h2 class="display-4" style="text-align: center;">With ...</h2>
                <hr class="my-4">
                <button type="button" (click)="loginWithGoogle()" class="btn btn-outline-danger btn-block">
                    Google
                </button>
                <button type="button" (click)="loginWithFacebook()" class="btn btn-outline-primary btn-block">
                    Facebook
                </button>
                <button type="button" (click)="loginWithGithub()" class="btn btn-outline-dark btn-block">
                    GitHub
                </button>
            </div>
            <!-- <div class="loader">
                <div *ngIf="alert" [class]="msgData?.cssClass" role="alert">
                    {{msgData?.message}}
                </div>
                <img *ngIf="loader" src="assets/images/loader.gif">
            </div> -->
            <!-- <div class="row center">
                <span class="margin-center">Don’t have an account? <a routerLink="/home/register">Sign Up</a></span>
            </div> -->
            <hr>
            <!-- <div class="row center">
                <span class="margin-center">
                    <a routerLink="/home/phone">sign in with phone</a>
                </span>
            </div> -->
        </div>
    </div>
</div>