<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 col-sm-9"
            style="background-color: #e9ecef; height: 100%; margin: 50px 50px 50px 50px; padding: 30px 20px 30px 20px; border-radius: 2%;">
            <div class="jumbotron">
                <h2 class="display-4" style="text-align: center;">Register</h2>
                <hr class="my-4">
                <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
                    <div class="form-row row justify-content-end">
                        <div class="col-lg-12 col-md-12 col-sm-12 box">
                            <div class="row">
                                <label for="email">Email <span
                                        *ngIf="registerForm.controls.email.dirty && registerForm.controls.email.invalid"
                                        class="invalidfeedback">E-mail required
                                    </span></label>
                                <input formControlName="email" type="text" class="form-control is-valid col-12"
                                    id="email">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 box">
                            <div class="row">
                                <label for="password">Password <span
                                        *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.invalid"
                                        class="invalidfeedback">Password required
                                    </span></label>
                                <input formControlName="password" type="text" class="form-control is-valid col-12"
                                    id="password">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 box">
                            <div class="row">
                                <label for="password">Password Confirm <span
                                        *ngIf="registerForm.controls.passwordConfirm.invalid && (registerForm.controls.passwordConfirm.dirty || registerForm.controls.passwordConfirm.value.length != 0)"
                                        class="invalidfeedback">Passwords are not match
                                    </span></label>
                                <input formControlName="passwordConfirm" type="text"
                                    class="form-control is-valid col-12" id="password">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <button
                                    [class]="registerForm.valid ? 'btn btn-primary btn-block col-12' : 'btn btn-primary btn-block col-12 disabled' "
                                    [disabled]="registerForm.invalid" type="submit">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="loader">
                <div *ngIf="alert" [class]="msgData?.cssClass" role="alert">
                    {{msgData?.message}}
                </div>
                <img *ngIf="loader" src="assets/images/loader.gif">
            </div>
        </div>
    </div>
</div>

<!-- <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <form class="login100-form validate-form" [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
        <span class="login100-form-title p-b-49">
            Register
        </span>
        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Username</span>
            <input formControlName="email" class="input100" type="email" name="email" placeholder="Type your email">
            <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input formControlName="password" class="input100" type="password" name="pass"
                placeholder="Type your password">
            <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Password (Confirm)</span>
            <input formControlName="passwordConfirm" class="input100" type="password" name="passConfirm"
                placeholder="Type your password (Confirm)">
            <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>
        <div class="text-right p-t-8 p-b-31">
            &nbsp;
        </div>
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <input type="submit" class="login100-form-btn" [disabled]="registerForm?.invalid"
                    [value]="registerForm?.invalid ? 'Disabled' : 'Register'" />
            </div>
        </div>
        <div class="flex-col-c p-t-30 loader">
            <div *ngIf="alert" [class]="msgData?.cssClass" role="alert">
                {{msgData?.message}}
            </div>
            <img *ngIf="loader" src="assets/images/loader.gif">
        </div>
    </form>
</div> -->